/* ======================================
Our theme variables
========================================= */
$yellow:#f9ed54;
$red: #d8483c;
$beige: #fbfbed;
$transition: .15s ease;

$mobile: 560px;

$laptop: 1440px;