/* ======================================
   HEADER STYLES
========================================= */
#masthead {
   position: absolute;
   top: 20px;
   left: 0;
   width: 100%;
   z-index: 999;
   @media (max-width: $tablet) {
      position: relative;
      top: 0;
      padding-top: 16px;
   }
   .main-navigation {
      gap: 10px;
      display: flex;
      align-items: center;
   }
   .columns.is-flex {
      align-items: center;
      justify-content: center;
      position: relative;
      @media (max-width: $tablet) {
         flex-flow: wrap;
      }
   }
   .footer-bottom--social.is-narrow {
      @media (max-width: $tablet) {
         display: flex;
         justify-content: center;
      }
   }
   .button {
      @media (max-width: $tablet) {
         width: 100%;
         min-width: auto;
      }
   }
   .logo {
      @media (max-width: $tablet) {
         flex: 0 0 100%;
         justify-content: center;
         display: flex;
      }
   }
   .main-logo {
      &:hover {
         img {
            transform: rotate(360deg);
         }
      }
      img {
         max-width: 163px;
         transition: $transition;
         @media (max-width: $laptop) {
            max-width: 120px;
         }
         @media (max-width: $tablet) {
            max-width: 60px;
         }
      }
   }
   .contact-modal {
     
      margin-right: 140px;
      @media (max-width: $laptop) {
         margin-right: 48px;
      }
      @media (max-width: $tablet) {

         margin-right: 0px;
      }
   }

   .footer-bottom--social {
     
      @media (max-width: $tablet) {
         position: relative;
         left: auto;
         top: auto;
      }
   }
   
   .social-icon {
      display: inline-block;
      margin-left: 20px;
      transition: $transition;
      @media (max-width: $tablet) {
         margin-left: 0;
         margin-right: 20px;
      }
      &--holder {
         display: inline-block;
         background-size: contain !important;
         transition: $transition;
         position: relative;
         &:hover {
            transform: scale(0.95);
         }
         &.fb {
            background: url("../assets/icon--fb.png") no-repeat center;
            width: 43px;
            height: 43px;
         }
         &.ig {
            background: url("../assets/icon--ig.png") no-repeat center;
            width: 43px;
            height: 43px;
         }
         &.sc {
            background: url("../assets/icon--sc.png") no-repeat center;
            width: 43px;
            height: 43px;
         }
         /* &.yt {
            background: url("../assets/icon--yt.svg") no-repeat center;
            width: 32px;
            height: 23px;
        } */
      }
   }
}
