/* MODAL 
========================================= */
.modal {
    z-index: 9999;
    display: flex !important;
    visibility: hidden;
    &-background {
        background: rgba(0, 0, 0, 0.3) !important;
        opacity: 1;
    }
    .close-modal {
        font-size: 50px;
        color: yellow;
        top: 100px;
        @media (max-width: $tablet) {
            top: 25px;
            right: 25px;
            margin-top: 0;
        }
    }
    &-content,
    &-card {
        width: 60%;
        overflow: visible;
        @media (max-width: $desktop) {
            width: 80%;
        }
    }
}
.modal-ape {
    position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.modal-card,
.modal-content {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: auto;
    color: $red;
    margin-top: -10%;
    a {
        color:$red;
    }
      @media(max-width:$mobile) {
          width:100%;
          overflow:hidden;
      }
    .box {
        &--bg {
            position: relative;
            width: 100%;
        }
        &--content {
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 80%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            h2 {
                font-size: 48px;
                font-weight: bold;
                text-transform: uppercase;
                @media (max-width: $tablet) {
                    font-size: 30px;
                }
            }
            p {
                font-size: 26px;
                @media (max-width: $tablet) {
                    font-size: 18px;
                    line-height: 1.1;
                }
            }
        }
    }
}

/* MODAL IFRAME
========================================= */
.embed-responsive .embed-responsive-item {
    iframe,
    embed,
    object,
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
// different ratios
.embed-responsive-21by9::before {
    padding-top: 42.85714%;
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.embed-responsive-4by3::before {
    padding-top: 75%;
}

.embed-responsive-1by1::before {
    padding-top: 100%;
}
